In [1]:
import numpy as np 
from pandas import *
from matplotlib.pyplot import *
%matplotlib inline

In [2]:
df = read_csv('Social_Network_Ads.csv')

In [3]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [4]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test  = train_test_split(x,y,test_size = 0.2 , random_state = 0)

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [15]:
x_test

array([[-7.98950822e-01,  4.94607583e-01],
       [-2.12648508e-02, -5.77359062e-01],
       [-3.12897090e-01,  1.46942725e-01],
       [-7.98950822e-01,  2.62831011e-01],
       [-3.12897090e-01, -5.77359062e-01],
       [-1.09058306e+00, -1.44652121e+00],
       [-7.01740076e-01, -1.59138156e+00],
       [-2.15686344e-01,  2.14601566e+00],
       [-1.96547978e+00, -5.58617754e-02],
       [ 8.53631867e-01, -7.80163563e-01],
       [-7.98950822e-01, -6.06331134e-01],
       [-9.93372315e-01, -4.32498705e-01],
       [-1.18475597e-01, -4.32498705e-01],
       [ 7.59458956e-02,  2.04886868e-01],
       [-1.77105829e+00,  4.65635512e-01],
       [-6.04529329e-01,  1.36376973e+00],
       [-1.18475597e-01,  2.04886868e-01],
       [-1.86826903e+00,  4.36663440e-01],
       [ 1.63131784e+00,  1.74040666e+00],
       [-3.12897090e-01, -1.38857706e+00],
       [-3.12897090e-01, -6.64275277e-01],
       [ 8.53631867e-01,  2.14601566e+00],
       [ 2.70367388e-01, -5.48386991e-01],
       [ 8.53631867e-01,  1.01610487e+00],
       [-1.47942605e+00, -1.21474464e+00],
       [ 1.04805336e+00,  2.05909944e+00],
       [-9.93372315e-01,  4.94607583e-01],
       [-8.96161568e-01,  2.91803083e-01],
       [-1.18475597e-01, -2.29694204e-01],
       [-6.04529329e-01,  4.65635512e-01],
       [-1.67384754e+00,  5.23579655e-01],
       [-1.18475597e-01,  2.62831011e-01],
       [ 1.82573933e+00, -2.87638347e-01],
       [-1.18475597e-01, -4.90442848e-01],
       [-1.38221530e+00, -3.45582490e-01],
       [-1.96547978e+00, -5.19414919e-01],
       [-1.57663679e+00,  3.20775154e-01],
       [-4.10107836e-01, -7.80163563e-01],
       [-7.01740076e-01, -1.04091221e+00],
       [ 1.04805336e+00, -9.82968063e-01],
       [-1.09058306e+00,  5.23579655e-01],
       [ 2.70367388e-01, -5.19414919e-01],
       [-1.09058306e+00,  4.07691369e-01],
       [-3.12897090e-01, -1.44652121e+00],
       [ 4.64788881e-01,  1.21890937e+00],
       [-1.09058306e+00, -3.45582490e-01],
       [-1.18475597e-01,  2.91803083e-01],
       [ 1.33968560e+00,  5.81523798e-01],
       [-1.18779381e+00, -1.15680049e+00],
       [ 1.04805336e+00,  4.65635512e-01],
       [ 1.82573933e+00,  1.50863009e+00],
       [-4.10107836e-01, -1.30166085e+00],
       [-3.12897090e-01, -3.74554562e-01],
       [-4.10107836e-01,  1.30582558e+00],
       [ 2.02016082e+00,  5.23579655e-01],
       [ 6.59210374e-01, -1.09885635e+00],
       [-8.96161568e-01,  3.78719297e-01],
       [-1.18779381e+00,  2.91803083e-01],
       [ 1.04805336e+00, -1.21474464e+00],
       [-1.47942605e+00, -1.44652121e+00],
       [-6.04529329e-01, -1.50446535e+00],
       [ 2.11737157e+00, -8.09135634e-01],
       [-1.86826903e+00,  1.75914797e-01],
       [-2.15686344e-01,  8.42272441e-01],
       [-1.86826903e+00, -1.27268878e+00],
       [ 2.11737157e+00,  3.78719297e-01],
       [-1.38221530e+00,  5.52551726e-01],
       [-1.09058306e+00, -3.45582490e-01],
       [ 1.73156642e-01, -6.64275277e-01],
       [ 3.67578135e-01,  2.08236764e-03],
       [-6.04529329e-01,  2.31984809e+00],
       [-3.12897090e-01,  2.04886868e-01],
       [-1.57663679e+00, -2.00722133e-01],
       [ 6.59210374e-01, -1.38857706e+00],
       [-1.09058306e+00,  5.52551726e-01],
       [-1.96547978e+00,  3.49747226e-01],
       [ 3.67578135e-01,  2.62831011e-01],
       [ 1.73156642e-01, -2.87638347e-01],
       [ 1.43689635e+00, -1.04091221e+00],
       [ 8.53631867e-01,  1.07404901e+00]])

In [9]:
 from sklearn.linear_model import LogisticRegression

In [10]:
classi = LogisticRegression(random_state=0)
classi.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [11]:
y_pred = classi.predict(x_test)

In [12]:
df1 = DataFrame({'predicted':y_pred,'Actual':y_test})

In [13]:
df1

    predicted  Actual
0           0       0
1           0       0
2           0       0
3           0       0
4           0       0
..        ...     ...
75          0       0
76          1       0
77          0       0
78          1       1
79          1       1

[80 rows x 2 columns]

In [14]:
classi.predict(sc.transform([[30,87000]]))

array([0], dtype=int64)

In [16]:
from sklearn.metrics import confusion_matrix , accuracy_score

In [19]:
cm = confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[57  1]
 [ 5 17]]

0.925